language: ruby
sudo: false
gemfile:
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
  - gemfiles/rails_6.0.gemfile
rvm:
  - 2.3.8
  - 2.4.6
  - 2.5.5
  - 2.6.3
script:
- bundle exec rspec
- bundle exec rubocop
matrix:
  exclude:
  - rvm: 2.3.8
    gemfile: gemfiles/rails_6.0.gemfile
  - rvm: 2.4.6
    gemfile: gemfiles/rails_6.0.gemfile
