language: ruby
sudo: false
gemfile:
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
rvm:
  - 2.3.7
  - 2.4.4
  - 2.5.1
  - jruby-9.1.17.0
script:
- bundle exec rspec
- bundle exec rubocop
