language: ruby
sudo: false
gemfile:
  - gemfiles/rails_6.0.gemfile
  - gemfiles/rails_6.1.gemfile
  - gemfiles/rails_7.0.gemfile
rvm:
  - 2.7.5
  - 3.0.3
  - 3.1.0
script:
- bundle exec rspec
- bundle exec rubocop
